Config { font = "xft:Ubuntu Mono:pixelsize=16:antialias=true:hinting:true"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Network "enp2s0f1" [ "--Low"    , "35"
                                             , "--High"   , "65"
                                             , "--normal" , "green"
                                             , "--high"   , "red"
                                             ] 10

                    , Run Network "wlp3s0" [ "--Low"    , "0"
                                           , "--High"   , "32"
                                           , "--normal" , "green"
                                           , "--high"   , "red"
                                           ] 10

                    , Run Cpu [ "--template" , "cpu: <ipat><total>% "
                              , "--Low"      , "5"
                              , "--High"     , "55"
                              , "--low"      , "green"
                              , "--normal"   , "darkorange"
                              , "--high"     , "red"
                              ] 10

                    , Run DiskU [ ("/" , "hdd: <used> / <size>")] 
                                [ "--Low"      , "100"
                                , "--High"     , "700"
                                , "--low"      , "green"
                                , "--normal"   , "darkorange"
                                , "--high"     , "red"
                                ] 10

                    -- memory usage monitor
                    , Run Memory [ "--template" ,"mem: <usedratio>%"
                                 , "--Low"      , "20"        -- units: %
                                 , "--High"     , "90"        -- units: %
                                 , "--low"      , "green"
                                 , "--normal"   , "darkorange"
                                 , "--high"     , "red"
                                 ] 10

                    -- time and date indicator 
                    , Run Date "<fc=#ee9a00> %b %d %Y (%a) %I:%M %p </fc>" "date" 10

                    -- battery monitor
                    , Run Battery [ "--template" , "batt: <acstatus>"
                                  , "--Low"      , "10"        -- units: %
                                  , "--High"     , "80"        -- units: %
                                  , "--low"      , "red"
                                  , "--normal"   , "darkorange"
                                  , "--high"     , "green"
                                  , "--" -- battery specific options
                                        -- discharging status
                                        , "-o" , "<left>% (<timeleft>)"

                                        -- AC "on" status
                                        , "-O" , "<fc=#dAA520>Charging</fc> <left>%"

                                        -- charged status
                                        , "-i" , "<fc=#006000>Charged</fc>"
                                  ] 50
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "| %battery% | %date% | %disku% | %cpu% | %memory% | %enp2s0f1% - %wlp3s0%"
       }
